#tonnetz {
  position: fixed;
  z-index: -1;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

.labels {
  color: transparent;
}

.labels > div {
  position: absolute;
}

.labels > div > div {
  margin-left: -50%;
  line-height: 1em;
  margin-top: -0.4em;
}
